# Quiz: Data Wrangling and Visualization

Congratulations on completing the Data Wrangling and Visualization course! We will conduct an assessment quiz to test your competencies about the material that you have learned in the course. The quiz is expected to be taken in the classroom, please contact our teaching team if you missed the chance to take it in class.

In [1]:
import pandas as pd
import matplotlib as plt



## Data Preparation

In this quiz, the data we're going to use is **the invoice summary of transaction data** of an online retail shop provided from UCI Machine Learning [repository](https://archive.ics.uci.edu/ml/datasets/online+retail). All the transactions occurred between the end of 2010 to end of 2011 for a UK-based and registered non-store online retail:

- `InvoiceNo`: unique invoice ID
- `TotalPrice`: total price from the transactions
- `UniqueItem`: number of the unique items bought per transaction/invoice
- `CustomerID`: customer identification
- `Country`: customer's country origin
- `InvoiceDate`: date of transaction

In [3]:
invoice = pd.read_csv('data_input/retail_invoice.csv',index_col='InvoiceNo')
invoice.head()

,UniqueItem,TotalPrice,CustomerID,Country,InvoiceDate
InvoiceNo,,,,,
536365,7,139.12,17850.0,United Kingdom,2010-12-01 08:26:00
536366,2,22.20,17850.0,United Kingdom,2010-12-01 08:28:00
536367,12,278.73,13047.0,United Kingdom,2010-12-01 08:34:00
536368,4,70.05,13047.0,United Kingdom,2010-12-01 08:34:00
536369,1,17.85,13047.0,United Kingdom,2010-12-01 08:35:00

Before you go any further, check the data type of each column using `dtypes` and make sure all of our columns have stored in the correct data type!

In [5]:
## Your code here

The company is planning for expansion and you were asked to observe their overseas market. Using any subsetting method you've learned, subset the data to get only **the transactions from countries (`Country`) outside the United Kingdom** and name it **`invoice_int`**!

In [ ]:
## Your code here

## Total Revenue Analysis

The country with the largest total revenue will be your company's target market. Therefore, using the `invoice_int` data, create a bar chart which shows the company's **top 5** largest market countries by **total** revenue (`TotalPrice`)!

*Hint*:
- Perform aggregation using `groupby` to get the total (`sum`) of revenue (`TotalPrice`) for each country and subset only the top 5 countries with the highest value.
- Pair the data frame with `.plot()` to get a bar chart.

In [ ]:
## Your code here

1. When creating a bar chart, we should also consider what order in which we will plot the bars. Sorting the bars by the right order reduce the burden on the reader to make the comparisons. In what ordering do you think the bars within the case above should be presented?

    *Saat membuat diagram batang (bar plot), kita juga harus mempertimbangkan urutan batangnya. Mengurutkan batang dengan urutan yang benar mengurangi beban pembaca untuk menyimpulkan perbandingannya. Menurut Anda, berdasarkan nilai apakah sebaiknya pengurutan diagram batang pada kasus di atas dilakukan?*

    - [ ] by Country: `sort_values('Country', ascending = False).plot(kind='bar')`
    - [ ] by Country: `sort_values('Country').plot(kind='barh')`
    - [ ] by Value: `sort_values('TotalPrice', ascending=False).plot(kind='bar')`
    - [ ] by Value: `sort_values('TotalPrice').plot()`

2. From the chart you just created, which of the following is **not** among the top 5 largest markets outside the United Kingdom?

    *Berdasarkan diagram yang telah dibuat, manakah di antara negara berikut yang **bukan** merupakan top 5 (berdasarkan total pendapatan) pasar terbesar di luar United Kingdom?*
    - [ ] Netherland
    - [ ] EIRE
    - [ ] Germany
    - [ ] Spain

## Plot Replication

A common way to inspect data statistically is by using boxplot, a handy visualization tool that provides five-number summary for your data. 

The boxplot below compares the monthly summary of each overseas market total revenue;
- Each data point represents the country total revenue (`TotalPrice`)
- The x and y-axis represent the monthly period and total monthly revenue respectively.

![](assets/task2.png)

3. From the boxplot above, which of the following statements is **TRUE**?

    *Berdasarkan boxplot di atas, manakah dari pernyataan berikut yang **BENAR**?*
    - [ ] The highest market revenue in January 2011 was around 18,000 USD
    - [ ] In 2011, the highest market revenue in February was higher than May
    - [ ] The median revenue appeared to be highest in May 2011
    - [ ] In 2011, it is certain that there were more countries that happen to be outliers in April than June
    
    
4. Try to recreate the boxplot above by fill in the blank codes:

    *Cobalah untuk membuat ulang boxplot di atas dengan mengisi bagian kode yang hilang di bawah ini:*

```
invoice_int['InvoiceMonth'] = invoice_int['InvoiceDate'].dt.to_period('M')

invoice_monthly = invoice_int.\
groupby(_______).\
agg({'TotalPrice': 'sum'})

invoice_monthly.\
boxplot(column = _______, by=_______)
```

   - [ ] `['Country']`, `'TotalPrice'`, `'Country'`
   - [ ] `['InvoiceMonth']`, `'TotalPrice'`, `'InvoiceMonth'`
   - [ ] `['Country','InvoiceMonth']`, `'TotalPrice'`, `'InvoiceMonth'`
   - [ ] `['InvoiceMonth','Country']`, `'InvoiceMonth'`, `'TotalPrice'`

In [ ]:
## Your code here

## Outlier Analysis

Based on the previous boxplot, we found that in June 2011, there were 3 countries with unusually high `TotalPrice`. By fill in the blank codes below, you could identify those outliers by subsetting `invoice_monthly` with the maximum value/upper whisker of the boxplot:

```
june_invoice = invoice_monthly.xs(key = _______, level= _______)
june_outliers = june_invoice[june_invoice['TotalPrice'] > 13000]

june_outliers
```

5. Which country is **NOT** included in `june_outliers` table/data frame?

    *Manakah negara yang **TIDAK** termasuk di dalam data frame `june_outliers`?*
   - [ ] Germany
   - [ ] France
   - [ ] Australia
   - [ ] EIRE

In [ ]:
## Your code here:

You are asked to analyze the amount of each country's revenue per quarter contained in the `june_outliers` data. To analyze it, you are asked to create a visualization. Copy the code below to prepare the data to create the visualization:

```
invoice_int['Quarter'] = invoice_int['InvoiceDate'].dt.to_period('Q')
invoice_topq = invoice_int.groupby(['Country','Quarter']).\
                 agg({'TotalPrice' : 'sum'}).\
                 loc[june_outliers.axes[0],]
invoice_topq
```

6. Which of the following code shows the *most efficient* way to create **grouped bar chart** that compares **quarterly revenue growth** between each country in `invoice_topq` in order from oldest to newest quarter period ?    

    *Manakah di antara kode berikut yang menunjukkan cara paling efisien untuk membuat **grouped bar chart** yang membandingkan pertumbuhan pendapatan triwulanan (quarter) dari tiap negara pada data `invoice_topq`secara terurut dari periode triwulan terlama hingga terbaru?*
    - [ ] `invoice_topq.plot(kind='bar')`
    - [ ] `invoice_topq.unstack().plot(kind = 'bar',stacked=True)`
    - [ ] `invoice_topq.unstack(level = 'Country').plot(kind='barh')`
    - [ ] `invoice_topq.unstack(level = 'Country').plot(kind='bar')`

In [ ]:
## Your code here: