# Latihan SQL
## Case : Northwind Database

Database Northwind merupakan database milik suatu perusahaan fiktif yang bernama Northwind Traders. Perusahaan ini bergerak dalam bidang eksport import makanan. Dalam database ini terdapat tabel-tabel seperti layaknya dalam suatu perusahaan eksport import seperti tabel Customers, Orders, Suppliers dan lain sebagainya.

![](Northwind_ERD.png)

**Role 1** : Anda adalah seorang supervisor pergudangan barang. Anda sedang diminta untuk melakukan pengecekan barang yang masih terdapat dalam gudang.
1. Jika dilihat dari ketersediaan stok barang, manakah barang yang akan segera habis? Katakanlah barang yang akan segera habis adalah barang yang memiliki stok kurang dari 10

**Role 2** : Anda sebagai tim Data Analyst diminta untuk menganalisis data untuk menjawab beberapa bussiness question sederhana berikut:

1. List nama produk dan nama supplier dari semua produk yang di suplai oleh Exotic Liquids, Grandma Kelly's Homestead, dan Tokyo Traders. Ada berapa produk pada daftar tersebut?
2. Dari seluruh transaksi pada database Northwind, kategori product apa yang paling banyak terjual?

In [9]:
import pandas as pd
import sqlite3

Silahkan membuat koneksi database terlebih dahulu.

In [7]:
# your code here

Pada ERD yang ditampilkan terdapat sedikit perbedaan nama tabel dan kolom. Sebelum melakukan query untuk analisis Anda nantinya, luangkanlah waktu untuk melihat detail nama tabel dan kolom seperti contoh berikut:

In [10]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table' AND name NOT LIKE 'sqlite_%';",conn)

                    name
0               Employee
1               Category
2               Customer
3                Shipper
4               Supplier
5                  Order
6                Product
7            OrderDetail
8   CustomerCustomerDemo
9    CustomerDemographic
10                Region
11             Territory
12     EmployeeTerritory

2. Cek nama kolom:

In [6]:
pd.read_sql_query("""SELECT * FROM supplier""",conn).dtypes

Id               int64
CompanyName     object
ContactName     object
ContactTitle    object
Address         object
City            object
Region          object
PostalCode      object
Country         object
Phone           object
Fax             object
HomePage        object
dtype: object

**NOTES** :Terdapat perbedaan nama `Id` pada tabel `supplier` asli dan nama yang tertera pada ERD yaitu `SupplierID`. Pastikan Anda melakukan pengecekan yang sama pada tabel lainnya.

Selanjutnya, silahkan lakukan analisis dan tulis hasil analisis Anda di bawah ini:

In [8]:
## your code here

### Selamat!

Jika Anda telah mencapai bagian ini berarti Anda telah menyelesaikan sebagian besar konsep untuk materi SQL Query.

Kami tahu bahwa Anda sangat ingin latihan secara mandiri dan memiliki banyak pertanyaan untuk dijawab.

Jadi, kami telah membuat cell khusus di bawah ini untuk Anda melakukan eksplorasi mandiri terhadap dataset.

Rumuskan setidaknya satu pertanyaan bersama dengan kode dan insight yang diperoleh.

Kami tidak sabar untuk melihat hasil analisis Anda ~

In [ ]:
## your code here